<p>
  Coach Name:<br>
  <%= comment.commenter %>
</p>
 
<p>
Coach Submission:<br>  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete Submission', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>