<%= form_for([@reward, @reward.claims.build]) do |f| %>

  <%= f.hidden_field :user_id, :value =>  current_user.id %>
  <%= f.hidden_field :reward_id, :value =>  @reward.id %>
  
  <h4>Like what you see? Click the button below to claim this reward!</h4>
  <br>
  <p>
    <%= f.submit "Submit To This Reward", :class => 'btn btn-lg' %>
  </p>
<% end %>