<div class="goal-page">
   <p>
	  <strong>Thank you for submitting. We are reviewing and will let you know shortly once you've won your reward.</strong>
	</p>

<br />
<div>
	<%= social_share_button_tag(@claim) %>
</div>

<hr>
 <%= link_to 'Back to the Rewards', rewards_path %>
</div>