<div class="goal-page">
   <h4>
Thank you for submitting. <br>We are reviewing and will let you know shortly once you've won your reward.</h4>

<br />
<div>
	<%= tweet_button(text: 'I just claimed a reward on Krossover Kredit!', via: 'krossovr', url: 'krossoverkredit.com') %>
</div>
<br>
<div>
	<%= like_button(237633513090070) %>
</div>

<hr>
 <%= link_to 'Back to the Rewards', rewards_path %>
</div>
