<h1>Rewards to Earn</h1>

<hr >

<p>In Krossover Kredits you can earn rewards after completing goals. See rewards to win below.</p>

<hr>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Kredit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
        <td><%= reward.description %></td>
        <td><%= reward.kredit %></td>
        <td><%= link_to 'Show', reward %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
