<div class="user-page">
   
   <br />
   <br />
   <br />
   <br />
   
   <p>
	  <strong>Hello</strong>
	  	<%= current_user.first_name %><%= current_user.last_name %>
	</p>
	 
	<p>
	  <strong>Kredit:</strong>
	  <%= current_user.kredits %>
	</p>
<hr>

</div>
