Hey Coach <%= @referral.name%>,

<p>Coach <%= User.find(@referral.user_id).last_name %> recommended this to you. Do you want to win more games this season and spend less time breaking down film? Let us break down the game for you, so you can get back to coaching. Take a look at our video analytics service at <a href="http://www.krossover.com">www.Krossover.com</a></p>


<br>

To your success, <br> The Krossover Team


