<h1>Welcome to Krossover Kredit</h1>

<hr>                                                 
<div style="line-height: 200px">
	<p style="line-height: 30px;">As a member of the Krossover rewards program you can earn discounts on a variety of products including your future video break downs. Three easy rules to the game:</p>
                                                  <ol>
                                                    <li><p><%= link_to 'Complete a goal', controller: 'articles' %></p>
</li></a>
                                                    <li><a href="/users"><p>Check your kredits</p></a></li>
                                                   <li> <a href="/rewards"><p>Claim a reward</p></a></li>
                                                  </ol>
	<div>
		
		<p style="line-height: 30px;">For questions about Krossover Kredit, please contact:
			<a href="mailto:sales@krossover.com" style="color:#fb4428" target="_blank">sales@krossover.com</a></p>


	</div>
</div>

