/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button


 */

#header {
height: 50px;
}

#headerbuttons {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: 2em;
    float: right;
}

#footerbuttons {
    text-align: center;
    margin: 0 auto;
    float: center;
}

#footerOuterSeparator{
  margin-top: 28px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
  border-top-width: 0px;
  border-top-style: solid;
}

#divFooter{
  background-color: rgb(21,106,175);
  color: rgb(255, 255, 255);
  font-family: Futura;
  text-transform: none;
  font-size: 12px;
  letter-spacing: 0px; 
  line-height: 22px; 
  text-align: center; 
  background-image: -webkit-linear-gradient(top, rgb(21,106,175), rgb(21,106,175));
}

#divFooter{
  padding-top: 10px; 
  background-image:-moz-linear-gradient(bottom,rgb(21,106,175),rgb(21,106,175));
  filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=rgb(21,106,175), endColorstr=rgb(21,106,175));
  background-image:-o-linear-gradient(bottom,rgb(21,106,175));
  background-image:-webkit-gradient(linear,left top, left bottom,from(rgb(21,106,175)),to(rgb(21,106,175)));
  background-image:-webkit-linear-gradient(bottom,rgb(21,106,175),rgb(21,106,175));
  background-image:linear-gradient(bottom,#ab0b00,#bf0d00);
}

#divFooter a{
  color: rgb(227, 227, 227);
   text-align: center; 
   font-family: Futura; 
   font-size: 12px;
    line-height: 22px; 
    margin: 0 auto;
  }

#divFooter h3{
  font-family: sans-serif; 
  text-align: center; 
  font-weight: 500;
   font-style: normal; 
   font-size: 14px; 
   line-height: 1.5em;
    color: rgb(227, 227, 227);
     margin: 0 auto;

   }

.push {
  height: 12px;
}

.footerArea{
    bottom: 0;
    height: 100px;
    left: 0;
    position: relative;
    width: 100%;
    padding-left: 0px;

    /*width:100%;
    height: 142px;
    position: relative;
    right: 0;
    bottom:0;
    left:0;
    padding: 1rem;
    padding-top: 10px; 
    text-align: center; 
    padding-left: 50px;
    margin: 0 auto;
    display: block;
    clear: both;
    content: "";*/
}

.divPanel.notop {padding-top:0px}

.divPanel.nobottom {padding-bottom:0px}

.copyright {
  position: relative;
  font-size:12px;
  letter-spacing:1px;
  padding-right: 50px;
  display: inline-block;    
  vertical-align: middle;
 }

.social_bookmarks a {
  padding: 15px;
   font-size:smaller !important;
   text-transform:uppercase;
   letter-spacing:1px;
   text-decoration:none;
   margin-right:20px;
 }

 .navigational-buttons {
  margin-top: -100px;
 }

#main-logo {
  padding-bottom: 0px;
  max-width: 290px;
}
/*.meter { 
    height: 20px;  /* Can be anything */
    /*width: 250px;
    padding-bottom: 40px;
    display: block;
    float: right;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}*/

/*.meter > span {
    display: block;
    height: 100%;
       -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
     -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
         -moz-border-radius-bottomleft: 20px;
                border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(43,194,83)),
      color-stop(1, rgb(84,240,84))
     );
    background-image: -webkit-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    background-image: -ms-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    background-image: -o-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    -webkit-box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

#orange > span {
    background-color: #f1a165;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(top, #f1a165, #f36d0a); 
        background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -ms-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -o-linear-gradient(top, #f1a165, #f36d0a);
}
*/

footer {
  display: flex;
}

.introduction {
  line-height: 40px;
  float: left;
  max-width: 70%;
}

.intro-paragraph {
  line-height: 30px;
}

.intro-list {
  line-height: 30px;
}

.sign-in-intro {
  float: right;
  max-width: 30%;
  margin-top: 17px;
}

.login-button {
  background-image: url('login.png')
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
