// Place all the styles related to the rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reward-thumb {
	max-height: 125px;
	float: right;
}

.reward-image {
	float: right;
}

.reward-image img {
	padding: 0px 30px 30px 30px;
	max-width: 150px;
	max-height: 150px;
	border-radius: 10%;
}

.reward-page {
  padding-top: 30px
}